<div class="row">
  <div class="col-md-6 test">
      <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let tutorial of tutArray" cdkDrag>
          <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
          {{tutorial.title}}
        </div>
      </div>
    </div>
    <div *ngIf="showMessage()" class="col-md-6">
      <div class="alert alert-success" role="alert">
        {{ showMessage() }}
      </div>
    </div>
</div>
